
.PlanetList{
	.sorting{
		display : flex;
		cursor  : pointer;
		&>.selected{
			background-color : red;
		}
	}
	.planets{
		&.owned{
			.Planet.unowned{ display : none; }
		}
		&.not_owned{
			.Planet.owned{ display : none; }
		}
	}
}