
.Controls{
	display       : flex;
	border-bottom : 1px solid white;
	.btn{
		vertical-align : middle;
		height         : 30px;
		cursor         : pointer;
		text-align     : center;
		flex-grow      : 1;
		&:hover{
			background-color : #555;
		}
		&+.btn{
			border-left : 1px solid white;
		}
	}
}