
.Planet{
	display : flex;
	cursor: pointer;
	user-select: none;
	font-size: 1.3em;
	padding : 5px 0px;
	position: relative;


	.name{
		padding-left: 25px;
	}
	.resource, .influence{
		width : 40px;
		text-align : center;
	}
	&:not(.owned){
		opacity : 0.3;
	}
	&.exhausted{
		color : red;
	}

	i{
		position: absolute;
		left : 5px;
		font-size: 0.7em;
	}

	i.green{ color : green; }
	i.red{ color : red; }
	i.yellow{ color : yellow; }
	i.blue{ color : blue; }
}